{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="text-center">Prints</h2>

<h3>The Artist</h3>

<h3>The Site</h3>

<P>DISCLAIMER</P>
<P>This site was made for educational purposes only. I, the developer, have used my brother's artwork to create 
    an e-commerce site for my final project with Code Institute. The artwork is real but many of the prints cannot 
    actually be sold due to copywright reasons. The site is not an actual business' site and the payment 
    system was created using Stripe Payments' test mode. This means that if you were to use your real credit/debit 
    card information upon checkout, no funds will be taken from your account. Security was an integral part of the 
    development process and Stripe Payments does get used to handle real payment requests so your information would be 
    safe. With that said, please do not use your actual details.</P>

{% endblock %}
