{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid"> 
        <!--<img>-->
        <h1>Add some character to your wall</h1>
        <h4> 
            <a href="" class="shop-now-button btn btn-lg rounded-0 py-3">Shop Prints</a>
        </h4>
    </div>
    <h2>Shop Prints By Category</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <!--<img>-->
                <br>
                <h3>Superheroes</h3>
            </div>
            <div class="col">
                <!--<img>-->
                <br>
                <h3>Anime</h3>
            </div>
            <div class="col">
                <!--<img>-->
                <br>
                <h3>Leggy Originals</h3>
            </div>
        </div>
    </div>
{% endblock %}