{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid text-center">
        
        <div class="heading-height">
            <h2>Add some <br class="d-none d-md-block"><strong>Character</strong><br class="d-none d-md-block"> to your wall</h2>
        </div>
        
        <h4> 
            <a href="{% url 'products' %}" class="shop-now-button btn btn-sm rounded-1 py-3 white-bg">Shop Prints</a>
        </h4>
    </div>
    <div class="homepage-content">
        <h3 id="subheading-padding">Shop Prints By Category</h3>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{% url 'products' %}?category=superheroes" class="text-black category-link">
                        <img class="category-img" src="{{ MEDIA_URL }}deadp_x_wolv_framed.png" alt="Deadpool x Wolverine framed image">
                        <br>
                        <h5>Superheroes</h5>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{% url 'products' %}?category=anime" class="text-black category-link">
                        <img class="category-img" src="{{ MEDIA_URL }}nar_x_sas_framed.png" alt="Naruto x Sasuke framed image">
                        <br>
                        <h5>Anime</h5>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{% url 'products' %}?category=video_game_characters" class="text-black category-link">
                        <img class="category-img" src="{{ MEDIA_URL }}pikachu_framed.png" alt="Pikachu framed image">
                        <br>
                        <h5>Video Game Characters</h5>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="{% url 'products' %}?category=video_game_characters" class="text-black category-link">
                        <img class="category-img" src="{{ MEDIA_URL }}skullourful_framed.png" alt="Superhero image">
                        <br>
                        <h5>Leggy Originals</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}