#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.profile-form-input {
    width: 100%;
    border: 2px solid #aab7c4;
    margin: 6px 0 6px;
    height: 30px;
}

.order-history {
    height: 371.33px;
    overflow: auto;
}