html {
    height: 100%;
}

@media only screen and (max-width: 640px) {
    body {
        background: url('/media/hero_img_sm.png') no-repeat center top fixed;
        background-size: contain;
        font-family: "Yeseva One", serif;
        font-weight: 300 !important;
        font-style: normal;
    }
}

body {
    background: url('/media/hero_img_md.png') no-repeat center top fixed;
    background-size: contain;
    font-family: "Yeseva One", serif;
    font-weight: 300 !important;
    font-style: normal;
}

.white-bg {
    background-color: #ffffff;
}

.overlay {
    height: 100%;
    width: 100%;
    background: #ffffff;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.heading-height {
    margin-top: calc(10vw / (16/10));
}

.top-content {
    margin-top: 60px;
}