html {
    height: 100%;
}

body {
    /*background: url('') no-repeat center center fixed;*/
    background-size: cover;
    height: calc(100vh-164px);
    font-family: "Yeseva One", serif;
    font-weight: 300 !important;
    font-style: normal;
}