{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col mt-3">
                <h2 class="text-center">Prints</h2>
                <hr class="w-100 mb-1">
                <div class="row">
                    <div class="col-6">
                        <p class="text-muted mt-4 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Back to all prints</a> | </span>
                            {% endif %}
                            {{ products|length }} Product(s){% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                    <div class="dropdown mt-3 col-6 text-center">
                        <a role="button" class="btn btn-outline-dark" href="#" id="products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By...
                        </a>
                        <div class="dropdown-menu border-1" aria-labelledby="products-link">
                            <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price (Low to High)</a>
                            <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price (High to Low)</a>
                            <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">Rating (High to Low)</a>
                            <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">Rating (Low to High)</a>
                            <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item ">Name (A-Z)</a>
                            <a href="{% url 'products' %}?sort=name&direction=desc" class="dropdown-item ">Name (Z-A)</a>
                            <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">Category (A-Z)</a>
                            <a href="{% url 'products' %}?sort=category&direction=desc" class="dropdown-item ">Category (Z-A)</a>
                            <button class="btn btn-sm border border-dark rounded-1 mx-5">
                                <a href="{% url 'products' %}" class="dropdown-item">Reset</a>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-8">
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image_1.url }}" alt="{{ product.name }}">
                            </a>
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                        {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        {% if product.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-dark">
        <a class="btt-link d-flex h-100 text-black">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
        <script type="text/javascript">
            $('.btt-link').click(function(e) {
                window.scrollTo(0,0)
            })
        </script>
{% endblock %}